  <footer class="site-footer" style="background-color: #363e45; color:white;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="widget-footer">
            <h2 class="widget-title">
              About us
            </h2>
            <div class="widget-content">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>

        </div> <!--col-md-4 ends here-->
<!--     4.1 full screen background color for footer
    4.2 three columns with different panel content
    4.3 coppyright info -->
  </footer> <!-- /footer ends here-->
  <footer id="siteinfo">
    <div class="container text-center">
      &copy; 2015 <a href="">hoangkien's site</a>
    </div>
  </footer>