<aside class="sidebar-content col-md-4">
<!--   3.1 recent articles with small image + heading
  3.2 content with tabs
  3.3 sidebar navigation
  3.4 about us with custom css styling -->
  <h2>Sidebar Navigation</h2>
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="">Home</a></li>
    <li ><a href="">About us</a></li>
    <li ><a href="">Contact us</a></li>
  </ul>

  <h2>Nav</h2>
  <nav class="list-group">
    <a href="#" class="list-group-item">Home</a>
    <a href="#" class="list-group-item active">About us</a>
    <a href="#" class="list-group-item">Contact us</a>
    <a href="#" class="list-group-item">More</a>
  </nav>

  <h2>Custom css Styles</h2>
  <div class="widget">
    <h4>Widget title</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.</p>
  </div>

</aside> <!-- /sidebar-content aside ends here-->
